body {
    background-color : #F4F4F8;
}

h1 {
    font-size: 3em;
    color: #2AB7CA;
    margin: 40px;
    text-align: center;
}

a {
    color: #FE4A49;
    text-decoration: None;
}

ul {
    display: flex;
    flex-flow: row ;
    justify-content: space-evenly;
    background-color: #E6E6EA;
    
    padding: 20px;
    margin: 0;
    list-style: none;
    font-size: 1.5em;
}